{% extends 'greenpalace/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ item.image.url }}" class="img-fluid rounded-xl">
        </div>

        <div class="col-md-6 pt-5">
            <h1 class="mb-4">{{ item.name }}</h1>
            <p class="text-muted"><strong>Price:</strong> {{ item.price }}</p>
            <p class="text-muted"><strong>Seller:</strong> {{ item.created_by.username }}</p>
    
            {% if item.description %}
                <p class="mt-4"><strong class="text-muted">Description:</strong><br>{{ item.description }}</p>
            {% endif %}

            {% if request.user == item.created_by %}
                <div class="mt-6 p-3 bg-light rounded-xl">
                    <p>This is your item!</p>

                    <a href="{% url 'item:edit' item.id %}" class="btn btn-primary mt-3">Edit</a>
                    <a href="{% url 'item:delete' item.id %}" class="btn btn-danger mt-3">Delete</a>
                    <li class='nav-item'>
                        <a class='nav-link' href={% url 'item:item_pdf'%}>Item Pdf </a>
                    </li>
                </div>
            {% else %}
                <a href="{% url 'conversation:new' item.id %}" class="btn btn-success mt-4">Contact seller</a>
                <a href="#" class="btn btn-success mt-4">Add to Cart</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container py-5">
    <h2 class="mb-4 text-center">Related items</h2>

    <div class="row">
        {% for item in related_items %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'item:detail' item.id %}" class="text-decoration-none text-dark">
                    <div class="card">
                        <img src="{{ item.image.url }}" class="card-img-top rounded-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text text-muted">Price: {{ item.price }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
