{% extends 'greenpalace/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}

<style>
    .card{
        object-fit: cover;
    }
</style>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <form method="get" action="{% url 'item:items' %}">
                <input name="query" class="form-control mb-3" type="text" value="{{ query }}" placeholder="Find apples, pears and much more">
                <button class="btn btn-primary btn-block mb-3">Search</button>
            </form>

            <hr>

            <h6 class="font-weight-bold">Categories</h6>
            <ul class="list-unstyled">
                {% for category in categories %}
                    <li class="py-1{% if category.id == category_id %} bg-light{% endif %}">
                        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}" class="text-decoration-none">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr>

            <a href="{% url 'item:items' %}" class="btn btn-warning btn-block">Clear filters</a>
        </div>

        <div class="col-lg-9">
            <div class="row">
                {% for item in items %}
                    <div class="col-md-4 mb-4">
                        <a href="{% url 'item:detail' item.id %}" class="text-decoration-none text-dark">
                            <div class="card">
                                <img src="{{ item.image.url }}" class="card-img-top rounded-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                    <p class="card-text text-muted">Price: {{ item.price }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
