{% extends 'greenpalace/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<style>
    a.card-link {
        text-decoration: none;
    }
</style>
<div class="container py-6">
    <h2 class="mb-12 text-2xl text-center">My Items</h2>

    <div class="row row-cols-3 g-4">
        {% for item in items %}
        <div class="col">
            <div class="card h-100">
                <a href="{% url 'item:detail' item.id %}">
                    <img src="{{ item.image.url }}" class="card-img-top rounded-top" alt="{{ item.name }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">Price: {{ item.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container py-6">
    <br><h2 class="mb-12 text-2xl text-center">Analytics</h2>

    <h1>Sales Comparison Dashboard</h1>
    <iframe src="{% url 'dashboard:index' %}" width="100%" height="600" frameborder="0"></iframe>

    <div class="row row-cols-3 g-4">
        {% for category in categories %}
        <div class="col">
            <div class="card h-100">
                <a href="#">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <p class="card-text">{{ category.items.count }} Items</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
